<!doctype html>

<html>
  <head>    
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- Importing the jinja macros -->
    {% from 'macros.html' import checkbox, slider, card_header, collapse_handler %}
        
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type='text/javascript' src='https://webrtc.github.io/adapter/adapter-latest.js'></script>
    <script type='text/javascript' src='/static/js/webrtc.js'></script>
    <script type='text/javascript' src='/static/js/rest.js'></script>
    <script type='text/javascript' src='/static/js/debounce.js'></script>
    <script type='text/javascript' src="/static/js/jquery-3.6.3.min.js"></script>
    <script type='text/javascript' src='/static/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript'>
      play = function() {
        playStream(document.getElementById('play-stream').value, document.getElementById('video-player'));
      };
      
      send = function() {
          if( sendStream(getWebsocketURL('input'), document.getElementById('send-stream').value) )
          play(); // autoplay browser stream
      }

      window.onload = function() {
          var playStream = document.getElementById('play-stream');
          var sendStream = document.getElementById('send-stream');
          var sendButton = document.getElementById('send-button');

          playStream.value = getWebsocketURL('output');
      
        {% if send_webrtc %} // check if we're sending a browser webcam stream
          // populate the list of browser video devices (requires HTTPS)
          if( checkMediaDevices() ) {
            navigator.mediaDevices.getUserMedia({audio: false, video: true}).then((stream) => { // get permission from user
              navigator.mediaDevices.enumerateDevices().then((devices) => {
                stream.getTracks().forEach(track => track.stop()); // close the device opened to get permissions
                devices.forEach((device) => {
                  if( device.kind == 'videoinput' ) {
                    console.log(`Browser media device:  ${device.kind}  label=${device.label}  id=${device.deviceId}`);
                    sendStream.add(new Option(device.label, device.deviceId));
                  }
                });
                if( sendStream.options.length == 0 ) {
                  sendStream.add(new Option('browser has no webcams available'));
                  sendButton.disabled = true;
                }
              });
            }).catch(reportError);
          }
          else
          {
            sendStream.add(new Option('use HTTPS to enable browser webcam'));
            sendButton.disabled = true;
          }
        {% else %}
          // auto-play other sources, since they're already running
          play();
        {% endif %}
        }
    </script>
  </head>

  <!-- START OF BODY -->
  <body>
    <!-- Header Container -->
    <div class="container-fluid p-5 bg-dark text-white align-items-center">
      <h1>Welcome to our <b>Jetson Nano Classifier</b></h1>
    </div>

    <div class="row">

      <!-- Left Container -->
      <div class="col-sm-6" style="background-color:lavender;">
        <div class="container d-flex align-items-center justify-content-center text-center" style="height: 20rem;">
          <div>
            <h1>Image</h1>
            <img src="path/to/image.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>

      <!-- Right Container -->
      <div class="col-sm-6" style="background-color:lavender;">

        <!-- Video Player -->
        <div style="position: sticky; top: 0px; z-index: 999;">
          <video id="video-player" autoplay controls playsinline muted>Your browser does not support video</video>
        </div>
        
        <!-- Stream Controls -->
        <div class="card" style="width: 36rem;">
            <div class="card-body">
            {{ card_header('stream_controls', 'Streaming', arrow='down') }}
            <div class="collapse show" id="stream_controls">
            {% if send_webrtc %}
                <div class="row">
                <label for="send-stream" class="col-2">Webcam:</label>
                <div class="col-6">
                    <select id="send-stream" name="send-stream"></select>
                </div>
                <div class="col-4">
                    <button id="send-button" onclick="send()">Send</button>
                </div>
                </div>
            {% else %}
                <div class="row">
                <label for="input-stream" class="col-2">Input:</label>
                <div id="input-stream" class="col-10">
                    {{ input_stream }}
                </div>
                </div>
            {% endif %}
                <div class="row">
                <label for="play-stream" class="col-2">Playback:</label>
                <div class="col-6">
                    <input id="play-stream" name="play-stream" type="text" size="32">
                </div>
                <div class="col-4">
                    <button id="play-button" onclick="play()">Play</button>
                </div>
                </div>
                <div class="row">
                <label for="connection-stats-show" class="col-2">Statistics:</label>
                <div class="col-2">
                    <input id="connection-stats-show" type="checkbox" class="form-checkbox" oninput="onConnectionStats()">
                </div>
                <script type='text/javascript'>
                    function onConnectionStats() {
                    var show = document.getElementById('connection-stats-show').checked;
                    document.getElementById('connection-stats').style.display = show ? null : 'none';
                    }
                </script>
                </div>
                <div class="row" id="connection-stats" style="display: none">
                <pre class="col-6" id='connection-stats-play'></pre>
                <pre class="col-6" id='connection-stats-send'></pre>
                </div>
            </div>
            {{ collapse_handler('stream_controls') }}
            </div>
        </div>

        <!-- Detection Controls -->
        {% if detection|length %}
        <div class="card" style="width: 36rem;">
            <div class="card-body">
            {{ card_header('detection_controls', 'Object Detection', detection) }}
            <div class="collapse" id="detection_controls">
                {{ checkbox('detection_enabled', '/detection/enabled', 'Detection Enabled') }}
                {{ slider('detection_confidence_threshold', '/detection/confidence_threshold', 'Confidence Threshold') }}
                {{ slider('detection_clustering_threshold', '/detection/clustering_threshold', 'Clustering Threshold') }}
                {{ slider('detection_overlay_alpha', '/detection/overlay_alpha', 'Overlay Alpha', min=0, max=255, step=1) }}
                
                <script type='text/javascript'>
                function onDetectionTrackingEnabled() {
                    var value = document.getElementById('detection_tracking_enabled').checked;
                    document.getElementById('detection_tracking_controls').style.display = value ? null : 'none';
                    console.log(`onTrackingEnabled(${value})`);
                }
                </script>
                
                {{ checkbox('detection_tracking_enabled', '/detection/tracking_enabled', 'Tracking Enabled', oninput='onDetectionTrackingEnabled()') }}

                <div id="detection_tracking_controls">
                {{ slider('detection_tracking_min_frames', '/detection/tracking_min_frames', 'Tracking Min Frames', min=0, max=60, step=1) }}
                {{ slider('detection_tracking_drop_frames', '/detection/tracking_drop_frames', 'Tracking Drop Frames', min=0, max=60, step=1) }}
                {{ slider('detection_tracking_overlap_threshold', '/detection/tracking_overlap_threshold', 'Overlap Threshold') }}
                </div>
                <script type='text/javascript'>
                onDetectionTrackingEnabled();  // set default visibility of tracking controls
                </script>
            </div>
            {{ collapse_handler('detection_controls') }}
            </div>
        </div>
        {% endif %}

      </div>
    </div>

    <!-- Bottom Container -->
    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="col-12">
          <div class="card" style="width: 36rem;">
            <div class="card-body">
              {{ card_header('output', 'Output') }}
              <div class="collapse" id="output">
                <div class="row">
                  <div class="col-12">
                    <div id="output-stream">
                      <h1>The output:</h1>
                      {{ output_stream }}
                    </div>
                  </div>
                </div>
              </div>
              {{ collapse_handler('output') }}
            </div>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>
