<!doctype html>

<html>
  <head>    
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- Importing the jinja macros -->
    {% from 'macros.html' import checkbox, slider, card_header, collapse_handler, label, image, direction, icon_text, change_model %}
        
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <script type='text/javascript' src='https://webrtc.github.io/adapter/adapter-latest.js'></script>
    <script type='text/javascript' src='/static/js/webrtc.js'></script>
    <script type='text/javascript' src='/static/js/rest.js'></script>
    <script type='text/javascript' src='/static/js/debounce.js'></script>
    <script type='text/javascript' src="/static/js/jquery-3.6.3.min.js"></script>
    <script type='text/javascript' src='/static/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript'>
      play = function() {
        playStream(document.getElementById('play-stream').value, document.getElementById('video-player'));
      };
      
      send = function() {
          if( sendStream(getWebsocketURL('input'), document.getElementById('send-stream').value) )
          play(); // autoplay browser stream
      }

      window.onload = function() {
          var playStream = document.getElementById('play-stream');
          var sendStream = document.getElementById('send-stream');
          var sendButton = document.getElementById('send-button');

          playStream.value = getWebsocketURL('output');
      
        {% if send_webrtc %} // check if we're sending a browser webcam stream
          // populate the list of browser video devices (requires HTTPS)
          if( checkMediaDevices() ) {
            navigator.mediaDevices.getUserMedia({audio: false, video: true}).then((stream) => { // get permission from user
              navigator.mediaDevices.enumerateDevices().then((devices) => {
                stream.getTracks().forEach(track => track.stop()); // close the device opened to get permissions
                devices.forEach((device) => {
                  if( device.kind == 'videoinput' ) {
                    console.log(`Browser media device:  ${device.kind}  label=${device.label}  id=${device.deviceId}`);
                    sendStream.add(new Option(device.label, device.deviceId));
                  }
                });
                if( sendStream.options.length == 0 ) {
                  sendStream.add(new Option('browser has no webcams available'));
                  sendButton.disabled = true;
                }
              });
            }).catch(reportError);
          }
          else
          {
            sendStream.add(new Option('use HTTPS to enable browser webcam'));
            sendButton.disabled = true;
          }
        {% else %}
          // auto-play other sources, since they're already running
          play();
        {% endif %}
        }
    </script>
  </head>

  <!-- START OF BODY -->
  <body>
    <!-- Header Container -->
    <div class="container-fluid p-3 bg-dark text-white align-items-center text-center">
      <h1><b class="nvidia-text-color">Nvidia Jetson Nano</b> - Assembly Assistant for Lego Blocks</h1>
      <p>A students project for the course <i>AISS-CV</i> at the Karlsruhe Institute of Technology (KIT)</p>
    </div>

    {% with text = 'This project is a proof of concept for an assembly assistant for Lego blocks. 
    The goal is to build a Lego model by following the instructions of a predefined Lego building manual. 
    The Lego blocks are detected by a camera and the detected blocks are compared to the next block in the building manual. 
    The detected blocks are then highlighted in a livestream and the next building block is shown in an image next to the stream. 
    The user can then pick up the next building block and place it on the lego model. ' %}
      {{ icon_text('fa fa-info', text) }}
    {% endwith %}
    
    <!-- START BUTTON -->
    <div class="container-fluid align-items-center d-flex justify-content-center p-5 bg-dark-subtle">
      <button id="toggle-container" class="btn btn-lg nvidia-background-color" onclick="send()">Start Building</button>
    </div>

    <!-- DETECTION HUB -->
    <div id="detection-hub" class="bg-dark-subtle" style="display: none">

      <!-- Instruction -->
      <div class="row container-fluid align-items-center d-flex justify-content-center pb-3 bg-dark-subtle">
        <div class="card col" style="max-width:800px">
          <div class="card-body">
            <div style="margin-left:71px">
              <h4>Quick Instructions</h4>
              <p>The projects Wiki provides a in-depth <a href="https://git.scc.kit.edu/stark/AISS_CV_Lego/-/wikis/application-manual">Application Manual </a>. The next section provides some quick instructions. Please follow the instructions for the best experience.</p>  
            </div>        
            {% with text = 'In case you are not using the installed jetson camera, please select a camera device in the webcam selection below.For best detection results, a neutral background is advised. Please prepare a blank background like a sheet and point your camera at it.' %}
              {{ icon_text('fa-solid fa-1', text, 21) }}
            {% endwith %}

            {% with text = 'Under "Building Controls" make sure that you select whether you want to assemble or dissassemble. Take a building block and hold it into the camera. Make sure that the block is clearly visible.' %}
              {{ icon_text('fa-solid fa-2', text, 21) }}
            {% endwith %}

            {% with text = 'Wait for a couple of seconds until the Building Assitant recognized the block. You can see that the block has been recognized when the left image is showing the recognized block.' %}
              {{ icon_text('fa-solid fa-3', text, 21) }}
            {% endwith %}
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="mx-auto" style="max-width:1300px">

          <div class="container-fluid bg-dark text-white justify-content-center p-3">
            <h4 class="text-center">Building Assistant</h4>
          </div>

          <div class="row">
            <!-- Left Container -->
            <div class="col-sm">   
              <div class="row">
                <div class="col text-center">
                  {{ label('current_label', '/detection/current_label', 'last detected object') }}
                </div>
                <div class="col text-center">
                  {{ label('next_label', '/detection/next_label', 'next object to detect') }}
                </div>
              </div>     
              <div class="row" style="overflow:hidden; max-height:500px">
                <div class="col">
                  {{ image('current_label_image', '/detection/current_label_image') }}        
                </div>
                <div class="col">
                  {{ image('next_label_image', '/detection/next_label_image') }}
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  {{ label('current_progress', '', 'current building progress') }}
                </div>
                <div class="col text-center">
                  {{ label('next_progress', '', 'next building progress      ') }}
                </div>
              </div>
            </div>

            <!-- Right Container -->
            <div class="col-sm">
              <!-- Video Player -->
              <div>
                <video id="video-player" width=640 autoplay playsinline muted poster="static/images/Thumb.jpg">Your browser does not support video</video>
              </div>         
              <!-- Detection Settings -->
              <div class="card mx-auto" style="max-width: 600px">
                <div class="card-body">
                {{ card_header('detection_controls', 'Settings for the detection', detection) }}
                <div id="detection_controls">
                    {{ slider('detection_confidence_threshold', '/detection/confidence_threshold', 'Confidence Threshold') }}
                    {{ slider('detection_clustering_threshold', '/detection/clustering_threshold', 'Clustering Threshold') }}
                    {{ slider('detection_overlay_alpha', '/detection/overlay_alpha', 'Overlay Alpha', min=0, max=255, step=1) }}
                    
                    <script type='text/javascript'>
                    function onDetectionTrackingEnabled() {
                        var value = document.getElementById('detection_tracking_enabled').checked;
                        document.getElementById('detection_tracking_controls').style.display = value ? null : 'none';
                        console.log(`onTrackingEnabled(${value})`);
                    }
                    </script>
                    
                    <script type='text/javascript'>
                    onDetectionTrackingEnabled();  // set default visibility of tracking controls
                    </script>
                </div>
                {{ collapse_handler('detection_controls') }}
                </div>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <div class="row">
            <div class="card col bg-dark text-white">
              <div class="card-body">
                <div class="card-title">
                  <h4 class="d-inline">Stream Controls</h4>
                </div>
                <div id="stream_controls">
                {% if send_webrtc %}
                    <div class="row">
                      <label for="send-stream" class="col-2">Webcam:</label>
                      <div class="col-6">
                          <select class="btn btn-outline-light" id="send-stream" name="send-stream"></select>
                      </div>
                      <div class="col-4 m">
                          <button class="btn btn-light mx-2" id="send-button" onclick="send()">Use</button>
                      </div>
                    </div>
                {% else %}
                    <div class="row">
                      <label for="input-stream" class="col-2">Input:</label>
                      <div id="input-stream" class="col-10">
                          {{ input_stream }}
                      </div>
                    </div>
                {% endif %}
                    <div class="row" style="display:none">
                      <label for="play-stream" class="col-2">Playback:</label>
                      <div class="col-6">
                          <input class="btn btn-outline-light" id="play-stream" name="play-stream" type="text" size="32">
                      </div>
                      <div class="col-4">
                          <button class="btn btn-light mx-2" id="play-button" onclick="play()">Play</button>
                      </div>
                    </div>
                    <div class="row">
                      <label for="connection-stats-show" class="col-2">Statistics:</label>
                      <div class="col-2">
                          <input id="connection-stats-show" type="checkbox" class="form-check-input" oninput="onConnectionStats()">
                      </div>
                      <script type='text/javascript'>
                          function onConnectionStats() {
                          var show = document.getElementById('connection-stats-show').checked;
                          document.getElementById('connection-stats').style.display = show ? null : 'none';
                          }
                      </script>
                    </div>
                    <div class="row" id="connection-stats" style="display: none">
                    <pre class="col-6" id='connection-stats-play'></pre>
                    <pre class="col-6" id='connection-stats-send'></pre>
                    </div>
                </div>
                {{ collapse_handler('stream_controls') }}
              </div>
            </div>

            <!-- Building Controls -->
            <div class="card col bg-dark text-white">
              <div class="card-body">
                <div class="card-title">
                  <h4 class="d-inline">Building Controls</h4>
                  {{ direction('set_direction', '/detection/set_direction') }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>

    <!-- Information -->
    <div class="container">
      <div class="row">
            <!-- Boxes -->
          <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">							
            <div class="icon">
              <div class="image"><i class="fa fa-question"></i></div>
              <div class="info">
                <h2 class="title pt-4">FAQ</h2>
                <p>
                  If you are having any issues or questions, have a look at our FAQ in the projects Wiki.
                </p>
                <div class="more">
                  <a href="https://git.scc.kit.edu/stark/AISS_CV_Lego/-/wikis/home" title="Title Link">
                    Read More <i class="fa fa-angle-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="space"></div>
          </div> 
        </div>
          
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">							
            <div class="icon">
              <div class="image"><i class="fa fa-graduation-cap"></i></div>
              <div class="info">
                <h2 class="title pt-4">The Course</h2>
                  <p>
                    The AISS-CV course teaches students how to apply machine learning concepts to develop predictive models and build analytics-based services. Through selected use cases, students learn foundational algorithms, development frameworks, and Python coding skills to create functional prototypes in practical settings.
                </p>
                <div class="more">
                  <a href="https://dsi.iism.kit.edu/courses_411.php" title="Title Link">
                    Read More <i class="fa fa-angle-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="space"></div>
          </div> 
        </div>
          
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">							
            <div class="icon">
              <div class="image"><i class="fa-brands fa-simplybuilt"></i></div>
              <div class="info">
                <h2 class="title pt-4">Building your own</h2>
                  <p>
                  The application is built from ground up with transformation in mind. The backend and frontend can be easily modified to take a model of your own which allows any object to be added to the assistant.
                  </p>
                <div class="more">
                  <a href="https://git.scc.kit.edu/stark/AISS_CV_Lego/-/wikis/build-your-own-model" title="Title Link">
                    Read More <i class="fa fa-angle-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="space"></div>
          </div> 
        </div>		    
        <!-- /Boxes -->
      </div>
    </div>

  </body>
  <script defer>
    // make the container visible only after the button is pressed
    const toggleButton = document.getElementById('toggle-container');
    const container = document.getElementById('detection-hub');

    if (toggleButton && container) {
      toggleButton.addEventListener('click', () => {
        console.log('toggle detection-hub')
        container.style.display = container.style.display === 'none' ? 'grid' : 'none';
        toggleButton.textContent = container.style.display === 'none' ? 'Start Building' : 'Stop Building';
      });
    } else {
      console.error('Could not find toggle button or container element');
    }
  </script>
</html>
