
{# Jinja macro for creating a range slider that connects to a backend JSON REST API #}
{% macro slider(id, rest_path, label, min=0.0, max=1.0, step=0.01, oninput=none) -%}
  <div class="row">
    <script type='text/javascript'>
      function get_{{ id }}() {
        return rest_get('{{ rest_path }}').then(function(value) {
          document.getElementById('{{ id }}').value = value;   
        {% if step < 1 %}
          value = value.toFixed(2);
        {% endif %}
          document.getElementById('{{ id }}_value').innerHTML = value;
          console.log(`get_{{ id }}(${value})`);
          return value;
        });
      }
      
      function set_{{ id }}() {
        var value = parseFloat(document.getElementById('{{ id }}').value);
        document.getElementById('{{ id }}_value').innerHTML = value;
        rest_put('{{ rest_path }}', value);
        {% if oninput is not none %}
          {{ oninput }};
        {% endif %}
        console.log(`set_{{ id }}(${value})`);
      }
    </script>
    <label for="{{ id }}" class="col-4">{{ label }}</label>
    <div class="col-6">
      <input id="{{ id }}" type="range" class="form-range" min="{{ min }}" max="{{ max }}" step="{{ step }}" oninput="debounce(set_{{ id }})()" style="accent-color:#97BC62">
    </div>
    <div id="{{ id }}_value" class="col-2">{{ value }}</div>
    <script>
      get_{{ id }}();
    </script>
  </div>
{%- endmacro %}

{# Jinja macro for a text with a icon #}
{% macro icon_text(icon, text, icon_size=35) -%}
  
  <div class="container-fluid d-flex justify-content-center m-2">
    <div class="row align-items-center h-100">
      <div class="col-sm-3 box">
        <div class="icon" style="margin:auto;">
          <div class="image nvidia-text-color" style="line-height: {{ icon_size + 43 }}px; height: {{ icon_size + 53}}px; width: {{ icon_size + 53}}px"><i style="font-size: {{ icon_size }}px" class="{{ icon }}"></i></div>
        </div>
      </div>
      <div class="col d-flex pt-2 align-items-center h-100" style="max-width: 800px; min-height:120px">
        <p>
          {{ text }}
        </p>     
      </div>
    </div>
  </div>

{%- endmacro %}

{# Jinja macro for setting the class label #}
{% macro label(id, rest_path, text) -%}
  
  <script type='text/javascript'>
    console.log('GETTING LABEL');
    function get_{{ id }}() {
      return rest_get('{{ rest_path }}').then(function(value) {
        document.getElementById('{{ id }}_value').innerHTML = value;
        console.log(`get_{{ id }}(${value})`);
        return value;
      });
    }
    
  </script>
  <div class="bg-dark text-white">
    <h3 style="margin-left: 1rem; margin-right: 1rem;">{{ text }}</h3>
    <h4 id="{{ id }}_value" class="nvidia-text-color">{{ value }}</h4>
    <script>
      var intervalId = window.setInterval(function(){
        get_{{ id }}();
      }, 5000);
    </script>
  </div>

{%- endmacro %}

{# Jinja macro for the current label image#}
{% macro image(id, rest_path) -%}  
  <script type='text/javascript'>
    console.log('getting image path for current label');
    function get_{{ id }}() {
      return rest_get('{{ rest_path }}').then(function(value) {
        document.getElementById('{{ id }}_value').setAttribute('src', value);
        console.log(`get_{{ id }}(${value})`);
        return value;
      });
    }
    
  </script>
  <div>
    <img id="{{ id }}_value" src="{{ value }}" class="img-fluid">
    <script>
      var intervalId = window.setInterval(function(){
        get_{{ id }}();
      }, 5000);
    </script>
  </div>

{%- endmacro %}

{# Jinja macro for changing the model#}
{% macro change_model(id, rest_path, model) -%}  
  <script type='text/javascript'>
    console.log('init change model);
    function set_{{ id }}() {
      console.log('Changing model')
      rest_put('{{ rest_path }}', model);
      console.log(`{{ id }}(${model})`);
    }
  </script>
  <div class="row">
    <!-- START BUTTON -->
    <div class="container-fluid align-items-center d-flex justify-content-center p-5 bg-dark-subtle">
        <button id="{{ id }}" class="btn btn-lg nvidia-background-color" onclick="set_{{ id }}()">Change Model</button>
    </div>
  </div>  
{%- endmacro %}

{# Jinja macro for setting the direction#}
{% macro direction(id, rest_path) -%}  
  <script type='text/javascript'>
    console.log('setting direction');
    function set_{{ id }}() {
      var value = document.getElementById('{{ id }}').checked;
      rest_put('{{ rest_path }}', value);
      {% if oninput is not none %}
        {{ oninput }};
      {% endif %}
      console.log(`set_{{ id }}(${value})`);
    }
  </script>
  <p>Uncheck if you want to disassemble. Check if you want to assemble.</p>
  <div class="row">
    <label for="{{ id }}" class="col-4">Assemble</label>
    <div class="col-2">
      <input id="{{ id }}" type="checkbox" class="form-check-input" checked oninput="set_{{ id }}()">
    </div>
  </div>

{%- endmacro %}

{# Jinja macro for creating a checkbox element that connects to a backend JSON REST API #}
{% macro checkbox(id, rest_path, label, oninput=none) -%}
  <div class="row">
    <script type='text/javascript'>
      function get_{{ id }}() {
        return rest_get('{{ rest_path }}').then(function(value) {
          document.getElementById('{{ id }}').checked = value;
          console.log(`get_{{ id }}(${value})`);
          return value;
        });
      }
      
      function set_{{ id }}() {
        var value = document.getElementById('{{ id }}').checked;
        rest_put('{{ rest_path }}', value);
        {% if oninput is not none %}
          {{ oninput }};
        {% endif %}
        console.log(`set_{{ id }}(${value})`);
      }
    </script>
    <label for="{{ id }}" class="col-4">{{ label }}</label>
    <div class="col-2">
      <input id="{{ id }}" type="checkbox" class="form-check-input" oninput="set_{{ id }}()">
    </div>
    <script>
      get_{{ id }}();
    </script>
  </div>
{%- endmacro %}

{# Jinja macro for creating a card header #}
{% macro card_header(collapse_id, title, subtitle, arrow='up') -%}
  <div class="card-title">
    <h5 class="d-inline">{{ title }}</h5>
  {% if subtitle|length %}
    <p class="d-inline">({{ subtitle }})</p>
  {% endif %}
  </div>
{%- endmacro %}

{# Jinja macro for the card event handlers#}
{% macro collapse_handler(collapse_id) -%}
  <script type='text/javascript'>
    $('#{{ collapse_id }}').on('hide.bs.collapse', function () {
      document.getElementById('{{ collapse_id }}_collapse_btn').classList.remove('fa-chevron-circle-down');
      document.getElementById('{{ collapse_id }}_collapse_btn').classList.add('fa-chevron-circle-up');
    })
    
    $('#{{ collapse_id }}').on('show.bs.collapse', function () {
      document.getElementById('{{ collapse_id }}_collapse_btn').classList.remove('fa-chevron-circle-up');
      document.getElementById('{{ collapse_id }}_collapse_btn').classList.add('fa-chevron-circle-down');
    })
  </script>
{%- endmacro %}
